<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">s
</head>
<body>

	<h1>Hello World!</h1>
	<p>
	<h2>Spectacular Lunar Eclipse..</h2>

<a href="http://cdn.viewmixed.com/wp-content/uploads/2014/12/Moon-eclipse-Earth-Moon.jpg">..and take a peek at this solar eclipse!</a>

</body>
</html>